a {
    text-decoration: none;
    color: #353535;
}

.spaceButton {
  margin-right: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}

.colorToobar {
  background-color: #2EC4B6 !important;
  height: 80px;
  width: 100vw;
}

.config {
    padding-top: 1%;
}

.fontLogo {
  font-family: Quicksand;
  font-size: 35px;
  margin-left: 1%;
  color: #353535;
}

.colorButtonProduct {
  background-color: #353535;
  color: white;
}

.colorButtonRequests {
  background-color: #353535;
  color: white;
}

@media only screen and (max-width: 360px) {
  .fontLogo {
    margin-right: 3% !important;
  }

  .colorButtonProduct{
    padding: 1px !important;
    font-size: 11px !important;
  }

  .colorButtonRequests {
    padding: 1px !important;
    font-size: 11px !important;
  }
}
